h1 {
    color: #27aedb;
    text-align: center;
  }
  
  button {
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .form {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .displaydiv {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  
  .submit {
    margin-top: 20px;
  }
